server {
  listen 80;

  location / {
    proxy_pass 		          http://thoughtworksinc.github.io/dcent-intro/;
    # proxy_redirect          default;
    # proxy_buffering         off;
    # proxy_set_header        Host                    $host;
    # proxy_set_header        X-Real-IP               $remote_addr;
    # proxy_set_header        X-Forwarded-For         $proxy_add_x_forwarded_for;
    # proxy_set_header        X-Forwarded-Protocol    $scheme;
  }
}

server {
  listen 443 ssl;
  return 301 http://thoughtworksinc.github.io/dcent-intro$request_uri;
}
